# Jupiter notebooks

Press 'esc' for command mode  
Press 'enter' for editing mode

'a' new cell above  
'b' new cell below  
'dd' delete current cell  
'm' changes a cell to be markdown  
'y' changes a cell to code    
'shift+enter' execute

# Variable assignment

In [ ]:
x = 3
print(x)

In [ ]:
x

In [3]:
"Hello World"

# Primitive datatypes

In [4]:
3 > 5

False

In [5]:
5 > 3

True

In [6]:
(3 > 5) == False

True

In [7]:
10 % 3

1

In [8]:
10 % 2

0

In [9]:
(5 > 3) and (10 > 4)

True

In [10]:
(5 > 3) or (1 > 2)

True

In [11]:
(5 > 3) & ( 10 > 4)

True

In [12]:
(5 > 3) | (1 > 2)

True

In [13]:
type(True)

bool

In [14]:
type(2)

int

In [15]:
type("Howdy")

str

In [16]:
type(2.1)

float

In [17]:
type(None)

NoneType

# Data Structures

The equivalent of an R vector is a 'list' in Python

In [31]:
my_items =["key chain", "wallet", "phone", 4, True , None, "amit"]
my_items

['key chain', 'wallet', 'phone', 4, True, None, 'amit']

In [20]:
type([5])

list

In [21]:
type(5)

int

In [22]:
5 == [5]

False

In [24]:
# 5 == c(5) in R would be TRUE

Python is zero-indexed - start counting elements of lists at 0.  
R is one-indexed - start counting elements of vectors at 1.

In [35]:
my_items

['key chain', 'wallet', 'phone', 4, True, None, 'amit']

In [27]:
my_items[0]

'key chain'

In [32]:
my_items[-1]

'amit'

In [36]:
my_items[-5]

'phone'

In [37]:
my_items[-7]

'key chain'

In [38]:
# slicing a list :
my_items[0:2]
# up to but not including 2

['key chain', 'wallet']

In [39]:
# default is the start
my_items[:2]

['key chain', 'wallet']

In [40]:
my_items[3:]

[4, True, None, 'amit']

In [46]:
my_items[-3:-1]

[True, None]

In [47]:
my_items[-3:]

[True, None, 'amit']

In [48]:
# range function

In [49]:
range(5,10)

range(5, 10)

In [50]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [51]:
list(range(5,11))

[5, 6, 7, 8, 9, 10]

# Task

In [54]:
things = ["Apple", "Grape", 101, "Onion", False]

In [55]:
things

['Apple', 'Grape', 101, 'Onion', False]

In [56]:
things[1]

'Grape'

In [57]:
things[-1]

False

In [69]:
things[:-1]

['Apple', 'Grape', 101, 'Onion']

In [70]:
type(things[2])

int

In [71]:
type(things[3])

str

In [72]:
type(things[4])

bool

In [66]:
list(range(11,16))

[11, 12, 13, 14, 15]

# 3.4 Dictionaries

A dictionary in python is the same thing as a list in R. Defina a dictionary uning{}

{

  "key1" : value1,
  "key2" : value2,
  .....
  
 }

In [73]:
person = {
    "name" : "amit" ,
    "age" : 37
}

person

{'name': 'amit', 'age': 37}

In [74]:
person2 = {
    "name" : "Dell",
    "name" : "Middlemiss",
    "age" : 43
}

person2

{'name': 'Middlemiss', 'age': 43}

In [75]:
type(person2)

dict

In [76]:
person["name"]

'amit'

In [77]:
len(things)

5

In [78]:
len(person)

2

In [79]:
# lists are to do with position and dictionary is to do with key...

In [80]:
person2["age"]

43

In [82]:
key = "age"
person2[key]

43

# Task

In [84]:
student_info = {
    "Agnes" : 68,
    "Bobby" : 45,
    "Charlie" : {
        "age" : 33,
        "gender" : "Female"
    }
}

student_info

{'Agnes': 68, 'Bobby': 45, 'Charlie': {'age': 33, 'gender': 'Female'}}

In [87]:
student_info["Charlie"]["age"]

33

In [88]:
len(student_info)

3

In [89]:
len(student_info["Charlie"])

2

# Ingesting Data   
"import" in python is like a combination of 'library()' and source() in R

In [90]:
import pandas as pd

In [92]:
titanic_data = pd.read_csv("titanic.csv")

In [93]:
titanic_data

,pclass,survived,sex,age,sibsp,parch,fare,cabin,embarked,title
0,1,1,female,29.0000,0,0,211.3375,B5,S,Miss
1,1,1,male,0.9167,1,2,151.5500,C22,S,Master
2,1,0,female,2.0000,1,2,151.5500,C22,S,Miss
3,1,0,male,30.0000,1,2,151.5500,C22,S,Mr
4,1,0,female,25.0000,1,2,151.5500,C22,S,Mrs
...,...,...,...,...,...,...,...,...,...,...
1304,3,0,female,14.5000,1,0,14.4542,NaN,C,Miss
1305,3,0,female,NaN,1,0,14.4542,NaN,C,Miss
1306,3,0,male,26.5000,0,0,7.2250,NaN,C,Mr
1307,3,0,male,27.0000,0,0,7.2250,NaN,C,Mr
1308,3,0,male,29.0000,0,0,7.8750,NaN,S,Mr

# Control Flow

In Python, whitespace and indentation is Important! It fulfills the same role as {} in R.

In [94]:
temperature = 28
if temperature > 20:
    print ("Heatwave!")
print("Outside the if block.")

Heatwave!
Outside the if block.

In [95]:
temperature = 18
if temperature > 20:
    print ("Heatwave!")
print("Outside the if block.")

Outside the if block.

In [ ]:
# R Equivalent

In [97]:
temperature = 16
if temperature > 20:
    print("Heatwave!")
elif temperature < 10:
    print("Scottish summer")
else:
    print("Perfect")

Perfect

In [98]:
temperature = 26
if temperature > 20:
    print("Heatwave!")
elif temperature < 10:
    print("Scottish summer")
else:
    print("Perfect")

Heatwave!

In [102]:
temperature = 26
if temperature > 20:
    print("Heatwave!")
    print("Get Ice Cream")
elif temperature < 10:
    print("Scottish summer")
else:
    print("Perfect")

Heatwave!
Get Ice Cream

In [101]:
phrase = "Jinx"
if phrase == "Jinx":
    print("Double jinx!")

Double jinx!

In [103]:
numbers = [1 ,2, 3, 4]

# for singular in plural
# eg : for Row in rows
for number in numbers:
    print(number * 2)

2
4
6
8

In [104]:
person = {
    "name" : "amit",
    "age" : 30,
    "languages" : ["English", "Hindi"]
}

In [105]:
for value in person.values():
    print(value)

amit
30
['English', 'Hindi']

# Task

In [130]:
numbers = range(1,101)
for number in numbers:
    if number % 3 == 0 and number % 5 == 0:
        print("FizzBuzz")
    elif number % 3 == 0:
        print("Fizz")
    elif number % 5 == 0:
        print("Buzz")
    else:
        print(number)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# Comprehensions

In [132]:
numbers = [1, 2, 3, 4]
numbers_squared = []

for number in numbers:
    numbers_squared.append(number ** 2)
    
numbers_squared

[1, 4, 9, 16]

Comprehension : [expression(item) for item in list

In [133]:
numbers_squared = [number ** 2 for number in numbers]

numbers_squared

[1, 4, 9, 16]

In [136]:
numbers_halved = [ number / 2 for number in numbers]
numbers_halved

[0.5, 1.0, 1.5, 2.0]

comprehension with condition : [ expression(item) for item in list if logical_expression(item)]

In [138]:
multiples_of_12 = [number for number in range(1, 101) if number % 12 == 0]
multiples_of_12

[12, 24, 36, 48, 60, 72, 84, 96]

Dictionary Comprehension: { key : value for value in values}

In [141]:
# we have a list of words,
# we want to create a dictionary containing each word and the length of that word

words = ["apple", "orange", "dragon fruit"]
length_of_words = { word : len(word) for word in words}

length_of_words

{'apple': 5, 'orange': 6, 'dragon fruit': 12}

In [142]:
ordinal_dict = {}
for number in range(4, 12):
    ordinal_dict[number] = str(number) + "th"

ordinal_dict

{4: '4th',
 5: '5th',
 6: '6th',
 7: '7th',
 8: '8th',
 9: '9th',
 10: '10th',
 11: '11th'}

ordinal_dict = {key:value item in items}

In [143]:
ordinal_dict = {number: str(number) + "th" for number in range(4,12)}

ordinal_dict

{4: '4th',
 5: '5th',
 6: '6th',
 7: '7th',
 8: '8th',
 9: '9th',
 10: '10th',
 11: '11th'}

# Functions

In [144]:
# python doest have implicit return

def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [ ]:
# dont run this

In [147]:
def sum_of_even_numbers(numbers) :
    running_total = 0
    for number in numbers:
        if is_even(number):
            running_total += number
    return running_total

In [148]:
sum_of_even_numbers(range(101))

2550

# Task n'th triangle number

In [151]:
def triangle(number) :
    this_triangle = number * (number + 1) / 2
    return this_triangle

In [152]:
triangle(5)

15.0

# Task : Fancy Price

In [155]:
def make_price(number):
    return "£" + str(number)

In [156]:
make_price(10)

'£10'

# Object Oriented Programming ( OOP )

In [188]:
#  let's create a template for a dog
class Dog:
    def __init__(self, name, age, coat):
        # DATA
        self.name = name
        self.age = age
        self.coat = coat
        
    # METHODS
    def bark(self) :
        print(self.name + " Barks!")
        
    def chase_ball(self) :
        if self.age < 10:
            print(self.name + " chases the ball!")
        else:
            print(self.name + " sits and stares at you....")
            
    def describer(self) :
        print(self.name + " is " + str(self.age) + " years old and has a " + self.coat +" coat.")

In [189]:
fido = Dog(name = "Fido", age = 4, coat = "Brown")
fido

In [164]:
fido.bark()

Fido Barks!

In [165]:
fido.age

4

In [166]:
fido.coat

'Brown'

In [169]:
fido.chase_ball()

Fido chases he ball!

In [191]:
lazy = Dog(name = "Lazy", age = 12, coat = "White")
lazy

In [176]:
lazy.chase_ball()

Lazy sits and stares at you....

In [190]:
fido.describer()

Fido is 4 years old and has a Brown coat.

In [192]:
lazy.describer()

Lazy is 12 years old and has a White coat.